<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to 99cats.com, <%= @user.username %></h1>
    <p>
      You signed up to 99cats.com,
      your username is: <%= @user.username %>.<br/>
    </p>
    <p>
      To login follow this link: <%= @url %>.
    </p>
    <p>We like that you like our cats</p>
  </body>
</html>
